@use "./variable.scss" as *;
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': $color-primary,
    ),
  )
);
@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;

@use "element-plus/theme-chalk/src/index.scss" as *;
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

$gridSize: 1280px;
$gridMargin: 24px;
$gridBreakpoint : $gridSize + $gridMargin + $gridMargin;
$smallGrid: 960px;

:root{
    --main-grid: #{$gridSize};
    --primary-color: #17B2C0;
    --primary-color-50 : #17b2c080;
    --primary-color-10 : #17b2c029;
    --primary-color-00 : #17b2c000;
    --text-color: #292D34;
    --page-bg: rgb(239, 243, 244);
    --card-bg: #fff;
    --column-bg: rgba(229, 236, 240, 0.4);
    --header-height: 74px;
    --app-padding: 8px;
    --grid-margin: 24px;
    --card-bg-img: linear-gradient(90deg, #ffffff 0%, #ffffff 25%, #00DC82 50%, #36E4DA 75%, #0047E1 100%);
    --el-fill-color-blank: var(--page-bg);
    --feature-title-color: -webkit-linear-gradient(90deg, rgb(49, 61, 68),rgb(80, 99, 111));
    --line-color: rgba(0,0,0,0.2);
}

html.dark {
  --text-color: #a1a3a7;
  --page-bg: rgb(31, 30, 30);
  --card-bg: rgb(22, 22, 22);
  --card-bg-img: linear-gradient(90deg, #303030 0%, #303030 25%, #00DC82 50%, #36E4DA 75%, #0047E1 100%);
  --feature-title-color: -webkit-linear-gradient(90deg, rgb(117, 131, 139),rgb(116, 151, 174));
  --column-bg: rgb(37, 41, 43);
  --line-color: rgba(255,255,255,0.2);
}

html{
  background-color: var(--page-bg);
  color: var(--text-color);
}

*{
  box-sizing: border-box;
  
}

// normalize css
html,body{
    padding:0;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    height: 100vh;
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6 {
  margin:0;
}
p{
  line-height: 1.5;
  font-size: 1.2rem;
  color: var(--text-color);
}

a{
  text-decoration: none;
  color: initial;
}

.innerGrid{
    width: min(100vw, var(--main-grid));
    margin: 0 auto;
    // &.small{
    //   width: min(100%, $smallGrid);
    // }
    @media(max-width: $gridBreakpoint ){
      padding: 0 var(--grid-margin);
    }
}

//table style
table{
  border-collapse: collapse;
}
td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

// tr:nth-child(even){background-color: #f2f2f2;}

// tr:hover {background-color: #ddd;}
thead th {
  color: #fff;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--primary-color);
  color: white;
}


@keyframes swing {
  from {
      transform: rotate3d(1, 1, 0, -12deg);
  }

  to {
        transform: rotate3d(1, 1, 0, 12deg);  
  }
}